#page-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#main-content {
    flex-grow: 1;
}


.contact-side-panel {
    background: #FA5C5C;
    width: 40%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-side-header {
    margin: 0 auto;
}

#contact-side-header * {
    letter-spacing: 0.2em;
}

.spacer {
    flex-grow: 1;
    max-height: 50px;
}

.contact-side-content {
    margin: 0 auto;
    width: 450px;
    max-width: 90%;
    letter-spacing: 0.2em;
    font-family: 'LatoLight';
}

.contact-side-panel ul {
    list-style-position: var(--ul-position);
    list-style-position: outside;
    list-style-type: disc;
  }

.contact-side-panel li {
    margin-left: 25px;
    padding-left: 0;
    white-space: nowrap;
}

.form-panel {
    display: flex;
    background: #DDDDDD;
    border-radius: 10px;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    border-bottom: solid #FA5C5C;
    flex-grow: 1;
}

.form-panel-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 0;
}

.form-panel-wrapper .spacer {
    flex-grow: 0.2;
}

.form-panel.left {
    border-left: solid #FA5C5C;
}

.form-panel.right {
    border-right: solid #FA5C5C;
}

.form-input, .form-panel textarea {
    border-radius: 15px;
    margin: 5px 0;
    border-color: #7F7F7F;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    padding-left: 10px;
    font-family: 'Lato';
    resize: none;
}

.form-button {
    margin-top: 15px;
    color: white;
    border-color: white;
    background: #FA5C5C;
    border-style: solid;
    border-radius: 20px;
}

.form-button:hover {
    background: #c23a3a;
    cursor: pointer;
}

.form-panel textarea {
    height: 12em;
}

.deco {
    position: absolute;
    z-index: -1;
}