#page-content {
    margin: 70px 120px;
}

.home-title {
    margin-bottom: -15px;
}

#profile-picture {
    position: absolute;
    right: 0;
    bottom: 0;
    aspect-ratio: 0.8666;
    height: 600px;
    width: auto;
}