#root {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
}

#page-content {
    padding: 70px 120px 0;
    transition: padding 0.5s;
}

#home-title-container {
    width: 350px;
    transition: width 0.5s;
}

#home-title {
    margin-bottom: -15px;
    letter-spacing: 0.1em;
}

#home-intro-container {
    margin: 160px 0;
    max-width: 50%;
    transition: margin 0.5s;
}

#home-intro-content {
    margin-top: 1em;
    letter-spacing: 0.1em;
}

#profile-picture {
    position: fixed;
    right: 0;
    bottom: 0;
    aspect-ratio: 0.8666;
    height: 450px;
    width: auto;
    margin: 40px 5%;
    transition: all 0.5s;
}

#deco-0 {
    position: fixed;
    top: -65px;
    right: -10px;
    width: 400px;
    z-index: -1;
}

#deco-1 {
    position: fixed;
    bottom: 0;
    left: 0;
    translate: 50px -20px;
    width: 250px;
    z-index: -10;
    rotate: 180deg;
}

#deco-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    translate: 295px -20px;
    width: 250px;
    z-index: -10;
    rotate: 0deg;
}


.standard-title {
    color: #7F7F7F;
    font-weight: bold;
}


@media (height <= 768px) {
    
    #deco-1, #deco-2 {
        display: none;
    }

    #profile-picture {
        top:0;
        bottom:auto;
    }

    #home-intro-container {
        margin: 10vh 0;
    }
}

@media (width <= 768px), (height <= 768px) {

    #profile-picture {
        top:0;
        bottom:auto;
        
        aspect-ratio: 0.8666;
        height: auto;
        width: 250px;
        max-width: 50%;
    }

    #home-title-container {
        width: 175px;
    }

    #page-content {
        padding-left: 20px;
        padding-top: 20px;
    }
}