.language-switch {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 0;
    margin-left: -50.5px;
    left:50%;
}

.language-switch>span {
    position: absolute;
    top: 0;
    width: 48.5px;
    height: 100%;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    display: flex;
    align-items: center;
    justify-content: center;
}

input.check-toggle-round-flat:checked~.fr {
    color: #FA5C5C;
    font-weight: 800;
}

input.check-toggle-round-flat:checked~.en {
    color: #fff;
    font-weight: normal;
}

.language-switch>span.en {
    left: 0;
    padding-left: 2px;
    color: #FA5C5C;
    font-weight: 800;
}

.language-switch>span.fr {
    left: 50.5px;
    padding-right: 2px;
    color: #fff;
    font-weight: normal;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #FA5C5C;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #FA5C5C;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #1D1D1D;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}