/* Navbar default style */

.side-nav {
    display: flex;
    list-style: none;
}

.side-nav a {
    margin: 0 15px;
}

/* Navbar for mobiles */
@media (max-width: 768px) {
    .menu-button {
        border-radius: 50%;
        cursor: pointer;
        background-color: #222;
        padding: 10px;
    }
}


/* Menu button hidden if the screen is wide enough */

/* Hidden by default */
.menu-button {
    display: none;
    /* Initially hide the menu button */
    cursor: pointer;
}

/* Style when visible */
@media (max-width: 768px) {
    .menu-button {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 2;
        /* Show the menu button on mobile screens */
    }
}


@media (max-width: 768px) {

    /* The side navigation menu */
    .side-nav {
        display: block;
        margin: default;
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        overflow-y: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .side-nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .side-nav a:hover {
        color: #f1f1f1;
    }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 15px;
    }

    .side-nav a {
        font-size: 18px;
    }
}

/* Hide mobile-only elements */
.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .mobile-only {
        display: inherit;
    }
}