/* Label styles */
.tnodeco {
    text-decoration: none;
}

.tspecialchar {
    white-space: pre-wrap;
}

.tbold {
    font-weight: bold;
}

.tcenter {
    text-align: center;
}

.thfit {
    height: fit-content;
}

.twfit {
    width: fit-content;
}

/* Label sizes */
.tlarge {
    font-size: 50px;
}

.tbig {
    font-size: 30px;
}

.tmedium {
    font-size: 25px;
}

.tsmall {
    font-size: 16px;
}

/* Label colors */
.tg {
    color: #7F7F7F;
}

.tw {
    color: white;
}